/* .folder{

} */

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.news > .new{
    align-content: center;
    background-color:lightcoral;
    width: 85%;
    display: inline-block;
    margin-top: 1%;
}

h2 {
    text-align: center;
}